<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<section class="bg-col">
    <!-- Main navbar section -->
    <div class="container-fluid container-fullwidth bg-light">
        <div class="container-fluid mx-2">
            <nav class="navbar navbar-expand-lg navbar-regent">
                <a class="navbar-brand mb-0 h1" href="/home">
                    <img src="{% static 'images/regent.png' %}" height="30" width="30">
                    Regent Summer Camps
                </a>

                <!-- Mobile toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBar" aria-controls="navbarBar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible navbar content -->
                <div class="collapse navbar-collapse" id="navbarBar">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <!-- Always-visible links -->
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>

                        {% if user.is_authenticated %}
                            <!-- Authenticated user options -->
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Camp Registration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/account">Account</a>
                            </li>

                            {% if user.is_staff %}
                                <!-- Staff-only links -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'staff:dashboard' %}">Staff Dashboard</a>
                                </li>
                                
                            {% endif %}
                        {% else %}
                            <!-- Public user links -->
                            <li class="nav-item">
                                <a class="nav-link" href="/users/register">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>

                    <!-- Right-aligned user info / login/logout -->
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                            <li class="navbar-text me-2">
                                Logged in as {{ user.get_username }}
                            </li>
                            <li class="nav-item">
                                <form class="form" action="{% url 'users:logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-logout" aria-label="Logout" title="Logout">Logout</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/users/login">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- Main page content container -->
    <div class="container-fluid container-fullwidth mt-3">
        <div class="row d-flex justify-content-center">
            {% if messages %}
                <div class="container d-flex justify-content-center">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert">
                        <div class="d-flex">
                            {{ message }}
                            <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label"Close"></button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="row d-flex justify-content-center">
            <!-- Flash messages -->
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>
</html>
