<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% if messages %}
<div class="container mt-3">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %}

<section class="bg-col">
<div class="container-fluid container-fullwidth bg-light">
    <div class="container-fluid mx-2">
        <nav class="navbar navbar-expand-lg navbar-regent">
            <a class="navbar-brand mb-0 h1" href="/home">
                <img src="{% static 'images/regent.png' %}" height="30" width="30">
                Regent Summer Camps
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBar" aria-controls="navbarBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarBar">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                         <a class="nav-link" href="/register">Camp Registration</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Sign Up</a>
                    </li>
                    {% endif %}
                    {%if user.is_authenticated%}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/account">Account</a>
                    </li>
                    {%endif%}
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="navbar-text me-2">
                         Logged in as {{ user.get_username }}
                    </li>
                    <li class="nav-item">
                        <form class="form" action="{% url 'users:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-logout" aria-label="Logout" title="Logout">Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class = "container-fluid container-fullwidth mt-3">
    <div class = "col d-flex justify-content-center">
        {% block content %}
        {% endblock %}
    </div>
</div>
</section>
</body>
</html>